@media only screen and (max-width: 1200px) {
    .hero-text-box{
      width: 100%;
      padding: 0 10px;  
    }
    .row{
        padding: 0 10px;
    }
	.catg-box{
		width: 80%;
		height: 80%;
		margin-top: 25px;
		
	}
	.img-show{
		width: 80%;
		height: 80%;
	}
	.btn2:link{
		margin-left: 40px;
		padding: 5px 15px;
	}
	header{
		height: 150vh;
	}
	.login-box{
		margin-top: 40px;
	}
	.login-box2{
		margin-top: 40px;
	}
    
}
@media only screen and (max-width: 1023px){
	
	
	.hero-text-box{
      width: 100%;
      padding: 0 10px;  
    }
	.mobile-nav{
		display: inline-block;
		color: #000;
		float: right;
	}
	
	.mobile-nav i{
		color: #000;
		float: right;
	}
	.main-nav{
		float: left;
		margin-left: 100px;
		text-align: center;
		display: block;
	}
	.main-nav li{
		padding-top: 3px;
		padding-bottom: 3px;
		border: 0;
		font-size: 80%;
		display: block;
	}
	.main-nav li a:link
	.main-nav li a:visited{
		border: 0;
		padding-top:3px;
		padding-bottom: 3px;
		display: block;
		
	}
	.login-box{
		margin-top: 80px;
	}
	.login-box2{
		margin-top: 80px;
	}
	header{
		height: 200vh;
	}
    
    
}
@media only screen and (max-width: 660px){
	
	.hero-text-box{
      width: 100%;
      padding: 0 10px;  
    }
	.main-heading{
		font-size: 20px;
	}
	.mobile-nav{
		display: inline-block;
		color: #000;
		float: right;
	}
	
	.mobile-nav i{
		color: #000;
		float: right;
	}
	.main-nav{
		float: left;
		margin-left: 50px;
		text-align: center;
		display:none;
		
	}
	.main-nav li{
		display: block;
		padding-top: 3px;
		padding-bottom: 3px;
		border: 0;
		font-size: 80%;
	}
	.main-nav li a:link
	.main-nav li a:visited{
		display: block;
		border: 0;
		padding-top:3px;
		padding-bottom: 3px;
		
	}
	.login-box{
		margin-top: 80px;
	}
	.login-box2{
		margin-top: 80px;
	}
	.sticky .main-nav li{
    display:block;
	}
	header{
		height: 490vh;
	}
   
}
    
    
}
@media only screen and (max-width: 480px){
	header{
		height: 520vh;
	}
	.mobile-nav{
		display: inline-block;
		float: right;
	}
	.mobile-nav i{
		color: #000;
		float: right;
	}
	.main-nav{
		float: left;
		margin-left: 50px;
		text-align: center;
		display: block;
	}
	.main-nav li{
		display: block;
		padding-top: 3px;
		padding-bottom: 3px;
		border: 0;
		font-size: 80%;
	}
	.main-nav li a:link
	.main-nav li a:visited{
		display: block;
		border: 0;
		padding-top:3px;
		padding-bottom: 3px;
		
	}
	.btn{
		margin-top: 20px;
	}
	.main-heading{
	
	font-weight: 300;
	font-size: 15px;
	
}
	h1{
		margin-top: 300px;
	}
	.logo{
		height: 30%;
		width: 30%;
	}
	.login-box{
		margin-top: 120px;
	}
	.login-box2{
		margin-top: 140px;
	}
	.sticky .main-nav li{
    display:block;
}
	
    
}